#Réécriture d'URL

RewriteEngine On

#evite d'aller sur le dossier ou fichier
#evite de lister les fichiers directement depuis la barre URL

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Réécriture de toutes les URL et pour cela on définit une nouvelle règle

RewriteRule ^(.*)$ index.php?page=$1